graphs {
  graph_id: 259002525
  priority: 0

  engines {
    id: 711
    engine_name: "Mind_Camera"
    side: HOST
    thread_num: 1
    so_name: "./libHost.so"
    ai_config {

      items {
        name: "path"
        value: "../../src/Camera/"
      }

      items {
        name: "dataType"
        value: "Camera"
      }

      items {
        name: "data_source"
        value: "${template_data_source}"
      }

      items {
        name: "fps"
        value: "5"
      }

      items {
        name: "image_format"
        value: "YUV420SP"
      }

      items {
        name: "image_size"
        value: "1280x720"
      }

      items {
        name: "meanOfG"
        value: ""
      }

      items {
        name: "meanOfR"
        value: ""
      }

      items {
        name: "batch"
        value: "1"
      }

      items {
        name: "useAll"
        value: "all"
      }

      items {
        name: "randomNumber"
        value: "1"
      }

      items {
        name: "target"
        value: "OI"
      }
    }
  }

  engines {
    id: 777
    engine_name: "face_detection_inference"
    side: DEVICE
    thread_num: 1
    so_name: "./libDevice.so"
    ai_config {

      items {
        name: "confidence"
        value: "0.9"
      }
      items {
        name: "model_path"
        value: "../../script/face_detection.om"
      }

      items {
        name: "init_config"
        value: ""
      }

      items {
        name: "passcode"
        value: ""
      }

      items {
        name: "dump_list"
        value: ""
      }

      items {
        name: "dvpp_parapath"
        value: ""
      }

      items {
        name: "batch_size"
        value: "1"
      }
    }
  }

  engines {
    id: 214
    engine_name: "face_antispoofing_inference"
    side: DEVICE
    thread_num: 1
    so_name: "./libDevice.so"
    ai_config {

      items {
        name: "model_path"
        value: "../../script/depl.om"
      }

      items {
        name: "init_config"
        value: ""
      }

      items {
        name: "passcode"
        value: ""
      }

      items {
        name: "dump_list"
        value: ""
      }

      items {
        name: "dvpp_parapath"
        value: ""
      }

      items {
        name: "batch_size"
        value: "1"
      }
    }
  }

  engines {
    id: 824
    engine_name: "face_antispoofing_postprocess"
    side: HOST
    thread_num: 1
    so_name: "./libHost.so"
    ai_config {

      items {
        name: "output_name"
        value: "poselayer"
      }

      items {
        name: "path"
        value: "../../src/Camera/"
      }

      items {
        name: "Confidence"
        value: "0.9"
      }

      items {
        name: "PresenterIp"
        value: "${template_presenter_ip}"
      }

      items {
        name: "PresenterPort"
        value: "${template_presenter_port}"
      }

      items {
        name: "ChannelName"
        value: "${template_app_name}"
      }
    }
  }

  connects {
    src_engine_id: 711
    src_port_id: 0
    target_engine_id: 777
    target_port_id: 0
  }

  connects {
    src_engine_id: 214
    src_port_id: 0
    target_engine_id: 824
    target_port_id: 0
  }

  connects {
    src_engine_id: 777
    src_port_id: 0
    target_engine_id: 214
    target_port_id: 0
  }
}			
